:root {
    --color-green: #16520f;
}

h1 {
    font-size: 60px;
    margin: 20px 0;
}

h2 {
    font-size: 30px;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header a.logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.greencolor {
    color: var(--color-green);
    text-shadow: 
        0 0 5px var(--color-green),
        0 0 10px var(--color-green),
        0 0 20px var(--color-green),
        0 0 30px #000000, 
        0 0 40px #000000, 
        0 0 50px #000000,
        0 0 75px #000000;
}

/****footer***/
footer {
    padding-top: 50px;
    color: white;
    padding-bottom: 5%;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.line {
    margin-top: 50px;
    height: 2px;
    background-color: var(--color-green);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.grandcontact {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.neon-icon {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.neon-icon:hover {
    filter: drop-shadow(0 0 5px var(--color-green)) drop-shadow(0 0 10px var(--color-green)) drop-shadow(0 0 30px var(--color-green));
    transform: scale(1.1);
}

/* Style du conteneur iframe */
.iframe-container {
    position: relative;
    width: 70%; /* Largeur de la section qui s'applique aussi à l'iframe */
    height: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-green);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Style de l'iframe (initialement inactif) */
.iframe-container iframe {
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    width: 100%; /* L'iframe prend toute la largeur du conteneur */
    height: 100%; /* L'iframe prend toute la hauteur du conteneur */
}

/* Style de l'iframe quand activée */
.iframe-container.active iframe {
    pointer-events: auto;
    opacity: 1;
}

/* Style du bouton */
.iframe-button {
    position: absolute;
    background-color: var(--color-green);
    color: white;
    border: 2px solid transparent;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;
}

/* Effet de hover sur le bouton */
.iframe-button:hover {
    background-color: white;
    color: var(--color-green);
    border: 2px solid var(--color-green);
}

.iframe-container.active .iframe-button {
    display: none;
}

/* Ligne de séparation */
.section-line {
    margin: 40px auto;
    height: 2px;
    background-color: var(--color-green);
    width: 90%;
}
