h1{
    font-size: 50px;
    text-align: center;
}

#btnStart{
display: none;
}

form{
    text-align: center;
    padding: 50px;
}

#monstreInfoContainer {
    display: flex;
    justify-content: center;
}
.suggestions-container {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    z-index: 10;
    display: none;
}

.suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.suggestion-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.monstreInfoHeader, .monstreInfoRow {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.monstreInfoRow .monstreInfoCell {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.monstreInfoCell {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
}



.monstreInfoCell {
    padding: 8px;
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}




.monstreInfoCell.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.monstreInfoCell .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.monstreInfoCell:hover .overlay {
    opacity: 1; /* Affiche le texte au survol */
}
